:root {
    --tips-size:15px;
    --help-color: #acacac;
    --warning-color: #f80;
    --danger-color: red;
    --tips-bg-color: transparent;
}
.tips{
    position: relative;
    display: inline-block;
    margin: 0 3px;
    width: var(--tips-size);
    height: 0;
}

.tips-danger::after,
.tips-warning::after,
.tips-help::after {
    box-sizing: content-box;
    display: inline-block;
    height: var(--tips-size);
    width: var(--tips-size);
    vertical-align: middle;
    padding-top: 1px;
    background-color: var(--tips-bg-color);
    border-radius: 50%;
    font-size: calc(var(--tips-size) + 2px);
    font-weight: bold;
    line-height: var(--tips-size);
    cursor: help;
    text-align: center;
    font-family: Monospaced, monospace;
}
.tips-help::after{
    content: '?';
    border: calc(var(--tips-size) / 15) solid var(--help-color);
    color: var(--help-color);
}
.tips-warning::after{
    content: '!';
    border: calc(var(--tips-size) / 15) solid var(--warning-color);
    color: var(--warning-color);
}
.tips-danger::after{
    content: '!';
    border: calc(var(--tips-size) / 15) solid var(--danger-color);
    color: var(--danger-color);
}
.img-zoomable {
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.img-zoomable .img-zoom-content {
    position: fixed;
    overflow: hidden;
    width: 0;
    height: 0;
    transition: all .5s linear;
}
.img-zoomable.img-zoom .img-zoom-content{
    position: fixed;
    display: block;
    overflow: auto;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.3);
    transition: all .5s linear;
}
.img-zoomable > img {
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.img-zoomable .img-zoom-content img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.img-zoomable.img-zoom .img-zoom-content img {
    position: absolute;
    width: auto;
    height: auto;
}